<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Comment On <%= campground.name %></h1>
		<div style="width:30%; margin:25px auto">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			<div class="form-group">
				<label for="newCampground">Enter new campground: </label>
			  <input class="form-control" type="text" id="newCampground" name="comment[text]" placeholder="comment">
			</div>	
			<div class="form-group">
				<label for="image">Image: </label>
			<input class="form-control" type="text" id="image" name="comment[author]" placeholder="name">
			</div>	
			
			<div class="form-group">
			<input class="btn btn-lg btn-primary btn-block" type="submit">
			</div>	
			</form>
			<button><a href="/campgrounds">Go Back!</a></button>
			
		</div>
		
		
	</div>

</div>
<%- include("../partials/footer") %>